.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal-main {
  position: fixed;
  background: var(--primary-background);
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
